---
import { Image } from 'astro:assets';
import HeroSection from '../components/HeroSection.astro';
import PartnerLogos from '../components/PartnerLogos.astro';
import SectionCard from '../components/SectionCard.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/matcha.css';
import '../styles/global.css';
import GusGarciaLogo from '../assets/images/aisd/AISD-GusGarcia-Logo.svg';
import HartLogo from '../assets/images/aisd/AISD-Hart-Logo.svg';
import LBJLogo from '../assets/images/aisd/AISD-LBJ-Logo.svg';
import heroImageLarge from '../assets/images/austin-mesh-wildflower-center-large.webp';
import heroImageSmall from '../assets/images/austin-mesh-wildflower-center-small.webp';
---

<Layout>
  <HeroSection
    background={heroImageSmall.src}
    heading="Austin Mesh"
    subheading="We are a community group building a free text messaging network in Austin"
    ctas={[{ label: 'Join the network', href: '/join/', className: 'success' }, { label: 'Learn more about Austin Mesh and Meshtastic', href: '/learn/', className: 'default' }]}
    className="hero"
  />
  <SectionCard title="Dive in">
    <p>
      We have all sorts of great content on our website. From our world famous <a
        href="/learn/#eli5">Meshtastic ELI5</a
      > to a great list of tips for <a
        href="/similar-networks/#start-a-similar-network"
        >starting your own mesh network</a
      > we have aimed to share everything we learn as we grow Austin Mesh. Take a
      look through the navigation at the top of our site and <a
        href="mailto:info@austinmesh.org">drop us an email</a
      > if you appreciate what we've done or have any questions or ideas. We'd love
      to hear from you!
    </p>
  </SectionCard>
  <SectionCard title="Community partners">
    <p>
      We're extremely grateful to our great community partners who have helped
      to build this strong network. <a href="/partners/"
        >Explore photos, learn more, or become a partner</a
      >
    </p>
    <PartnerLogos logos={[
      { src: GusGarciaLogo, alt: 'Logo of the Gus Garcia Young Men\'s Leadership Academy AISD', title: 'Gus Garcia Young Men\'s Leadership Academy AISD' },
      { src: HartLogo, alt: 'Logo of the HART Elementary School AISD', title: 'HART Elementary AISD' },
      { src: LBJLogo, alt: 'Logo of the LBJ Early College High School, AISD', title: 'Logo of the LBJ Early College High School, AISD' }
    ]} />
  </SectionCard>
</Layout>
