---
import { Image } from 'astro:assets';
import GusGarciaLogo from '../assets/images/aisd/AISD-GusGarcia-Logo.svg';
import HartLogo from '../assets/images/aisd/AISD-Hart-Logo.svg';
import LBJLogo from '../assets/images/aisd/AISD-LBJ-Logo.svg';
import HartElementaryInstall from '../assets/images/aisd/aisd-hart-elementary-meshtastic-install.webp';
import LASANode from '../assets/images/lasa/austin-mesh-liberal-arts-and-sciences-academy-cropped.webp';
import UTAustinRepeater from '../assets/images/ut-austin/University-of-Texas-at-Austin-Meshtastic-Repeater.webp';
import PartnerLogos from '../components/PartnerLogos.astro';
import SectionCard from '../components/SectionCard.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <SectionCard title="Our community partners">
    <p>
      Want to support Austin Mesh and the Austin Community at large? <a
        href="mailto:info@austinmesh.org"
        >Reach out to us via email at info@austinmesh.org!</a
      >
    </p>
  </SectionCard>
  <SectionCard title="Austin Independent School District (AISD)">
    <PartnerLogos logos={[
      { src: GusGarciaLogo, alt: 'Logo of the Gus Garcia Young Men\'s Leadership Academy AISD', title: 'Gus Garcia Young Men\'s Leadership Academy AISD' },
      { src: HartLogo, alt: 'Logo of the HART Elementary School AISD', title: 'HART Elementary AISD' },
      { src: LBJLogo, alt: 'Logo of the LBJ Early College High School, AISD', title: 'Logo of the LBJ Early College High School, AISD' }
    ]} />
    <p>
      Austin Mesh is excited to partner with the <strong>
        Austin Independent School District (AISD)</strong>
      > to bring hands-on STEM learning to students in Northeast Austin. Through
      this collaboration, we're empowering young minds to explore wireless communication,
      electronics, and programming using <a
        href="https://meshtastic.org/"
        target="_blank"
        rel="noopener">Meshtastic</a
      > devices.
    </p>
    <p>
      Check out the details of the <a
        href="https://hart.austinschools.org/stem"
        target="_blank"
        rel="noopener nofollow">HART MLI on the AISD website</a
      >
    </p>
    <Image
      alt="View looking out from the roof of the HART Elementary School, showing a playground, school buildings, and the Northern skyline of Austin Texas"
      loading="lazy"
      src={HartElementaryInstall}
      densities={[1, 2]}
      title="AustinMesh STEM Node installed on Hart Elementary"
      width={900}
    />
  </SectionCard>
  <SectionCard title="University of Texas at Austin">
    <p>
      The node at UT Austin is located on top of the Physics, Math, and
      Astronomy building on the South face at ~80m above ground. It provides
      coverage for a significant portion of West, South, and East Austin
      through it's 10dBi antenna and RAK19007 circuit board. The node uses a
      Voltaic Systems V50 battery connected to a 20w solar panel making this
      node entirely self supporting.
    </p>
    <p>
      <a
        href="https://github.com/willmartindotcom/austinmesh/tree/main/images/ut-austin"
        target="_blank">View all photos from the UT Austin node site</a
      >
    </p>
    <Image
      alt="View looking out from the UT PMA building showing the Austin City Skyline to the South behind chain link fencing with a Meshtastic node that has a Austin Mesh sticker on it in the foreground"
      loading="lazy"
      src={UTAustinRepeater}
      title="Austin Mesh Node at UT Austin"
      width={700}
    />
  </SectionCard>
  <SectionCard title="The Liberal Arts and Science Academy (LASA)">
    <p>
      The node at LASA is hosted on their rooftop and graciously supported by
      LASA Amateur Radio Club. While the antenna and position change slightly
      from time to time for experiments, this node uses a RAK19007 baseboard
      with an 8w solar panel connected to a Voltaic Systems V50 battery. It
      provides coverage for a significant portion of East, South East, and
      even some areas of South West Austin.
    </p>
    <p>
      <a
        href="https://github.com/willmartindotcom/austinmesh/tree/main/images/lasa"
        target="_blank">View all photos from the LASA node site</a
      >
    </p>
    <Image
      alt="View looking out from the UT PMA building showing the Austin City Skyline to the South behind chain link fencing with a Meshtastic node that has a Austin Mesh sticker on it in the foreground"
      loading="lazy"
      src={LASANode}
      title="Austin Mesh Node at LASA"
      width={700}
    />
  </SectionCard>
</Layout>
