---
import { Image } from 'astro:assets';
import AustinMeshLogo from '../assets/images/Austin-Mesh-Logo.svg';
---

<header>
  <a href="/">
    <Image
      src={AustinMeshLogo}
      class="logo"
      alt="Logo for Austin Mesh"
      title="Austin Mesh"
      width="500"
      height="121"
    />
  </a>
  <button
    onclick="document.getElementById('event').showModal()"
    class="default meet-button"
    style="background-color: white;">📅 Upcoming Meeting 4/8</button
  >
</header>
<dialog id="event">
  <header>
    <h1>Austin Mesh Meeting</h1>
  </header>
  <p>
    Come hang out at our next installment of the Austin Mesh meeting series. You
    can bring your friend. You can bring your node. Just don't bring your
    friend's node.
  </p>
  <p>
    <b>Tuesday April 8th, 6:00pm</b> (<a
      href="https://discord.gg/MebnGdYQZg?event=1323083607828467774"
      target="_blank">Save the date</a
    >)
  </p>
  <p>
    Mister Tramps Sports Pub<br />8565 Research Blvd, Austin, TX 78758<br /><a
      href="https://www.openstreetmap.org/way/72473475">OpenStreetMap</a
    >
    <br />
    <a href="https://maps.app.goo.gl/XZFYoxAZkpUyWFLo8">Google Maps</a>
  </p>
  <footer>
    <form method="dialog">
      <a
        class="default"
        href="https://discord.gg/MebnGdYQZg?event=1323083607828467774"
        type="button">Save the date</a
      >
      <button type="submit">Close</button>
    </form>
  </footer>
</dialog>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector("header")?.classList.add("loaded");
  });
</script>
