---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';

import '../styles/matcha.css';
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      charset="utf-8"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Austin Mesh</title>
    <meta name="description" content="Allowing anyone with a smartphone to text without power or internet by building a solar-powered Meshtastic radio network in Austin.">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Austin Mesh</title>
  </head>
  <body>
    <Header />
    <main>
      <Navigation />
      <slot />
    </main>
    <Footer />
  </body>
</html>
